
/*-- scss:defaults --*/

// Base document colors
$body-bg: #e1dcd9;
$body-color: #32435f;
$link-color: blue;


// Code blocks

$code-block-bg: #a67f78;
$code-block-border-left: #32435f;
$code-block-border-left-size: 5px;
